* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.video-div {
  display: flex;
  position: relative;
  justify-content: center;
}
.heading {
  color: white;
  font-size: 30px;
  text-align: center;
}
.slide {
  height: 60px;
  width: 100%;
  background-color: rgb(237, 104, 104);
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: center;
}


.about-dance {
  height: auto;
  width: 100%;
  background-color: #e0e1dd;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: space-evenly; */
}
.image {
  height: 500px;
  width: auto;
  border-radius: 30px;
}
.link-info {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.link {
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
a{
  text-decoration: none;
}

.homepage-info{
  height: 200px;
  background-color: #1b263b;
  margin: 30px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-info{
  font-size: xx-large;
  color: #778da9;
}
.text-para{
  color:#1b263b;
  font-size: xx-large;
}